<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function redirectToAnotherPage() {
            window.location.href = "/upload";
        }
    </script>
</head>
<body>
    <div class="welcome-square">
        Welcome
    </div>
    <button class="get-started-btn" onclick="redirectToAnotherPage()">Get Started</button>
</body>
</html>
